.navbar-color {
    background-color: rgb(211, 108, 117);
}

.formLink {
    color: blue;
    text-decoration: none;
}

.formLink:hover {
    color: rgb(115, 115, 250);
    text-decoration: none;
}

.line-break {
    text-align: left;
}

.card-color {
    background-color: rgb(211, 108, 117);
    color: white;
}

.btn {
    background-color: rgb(211, 108, 117);
    color: white;
}

.btn:hover {
    background-color: rgb(211, 108, 117);
    color: white;
}

.fancy-font {
    font-family: "Righteous", cursive;
}

.modal {
    background: rgb(250, 250, 250);
    border-radius: 3%;
}
